<!DOCTYPE html>
<html ng-app="TicTacToe" ng-controller="TicTacToecontroller">
<head>
	<title>Tic Tac Toe</title>
	<!-- <link rel="stylesheet" type="text/css" href="normalize.css"/> -->
	<link rel="stylesheet" href="TTT.css"/>
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<script src="TTT.js"></script>
</head>
<header>
	<div class="logo_title">
		TIC TAC TOE
	</div>
</header>
<body>
	<form ng-submit="submit(1)" ng-hide="formOne">Player 1, what's your name?
		<input type="text" ng-model="textOne">
		<input type="submit" id="submit" value="Submit">
	</form>
	<form ng-submit="submit(2)" ng-hide="formTwo">Player 2, what's your name?
		<input type="text" ng-model="textTwo">
		<input type="submit" id="submit" value="Submit">
	</form>
	
	<div id="player_turn">{{Player_Name}}, it's your turn</div>
	<section class="game_board">
		<div id="vertical1">
		</div>
		<div id="vertical2">
		</div>
		<div id="horizontal1">
		</div>
		<div id="horizontal2">
		</div>
		<div ng-repeat="whatever in boxes">
			<div ng-repeat="box in whatever" ng-class="{box:true, black:box.owner=='', candy:box.owner=='P1', heart:box.owner=='P2'}" ng-click="claim(box)">
			</div>
		</div>
	</section>
</body>
</html>